{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for voiture in voitures %}
        
        <div class="card my-2" style="width: 18rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{voiture.marque}} {{voiture.prixJournalier}} €</h5>
                <p class="card-text">
                    {{voiture.description}}
                </p>
                <a href="{{path('app_voiture_show', {'id': voiture.id})}}" class="btn btn-primary">Voir détails</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
